In [1]:
myList = []
for i in range(2000,3200):
    if(i%7==0 and i%5!=0):
        myList.append(i)
print(myList)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [2]:
def factorielle(n):
   if n == 0:
      return 1
   else:
      F = 1
      for i in range(1,n+1):
         F = F * i

      return F
print(factorielle(5))

120

In [3]:
from math import factorial

print ("la factorielle est", factorial(5))

la factorielle est 120

In [1]:
num = int(input("entrer un nombre: "))
dictio = {}
for i in range(1, num+1):
    dictio[i]=i*i
print(dictio)

entrer un nombre: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [2]:
def missing_char(string, n):
    first = string[:n]
    back = string[n+1:]
    return first + back
print(missing_char('kitten',1))
print(missing_char('kitten',0))
print(missing_char('kitten',3))

ktten
itten
kiten

In [3]:
import numpy as np
new_array = np.arange(6).reshape(3,2)
print("Element du tableau d'origine: ",new_array)
arrayTolist = new_array.tolist()
print("Tableau à liste: ",arrayTolist)

Element du tableau d'origine:  [[0 1]
 [2 3]
 [4 5]]
Tableau à liste:  [[0, 1], [2, 3], [4, 5]]

In [4]:
import numpy as np
tab1 = np.array([0,1,2])
tab2 = np.array([2,1,0])
print("Tableau d'origine1: ",tab1)
print("Tableau d'origine2: ",tab2)
covariance = np.cov(tab1,tab2)
print("Matrice de covariance des dits tableaux:",covariance)

Tableau d'origine1:  [0 1 2]
Tableau d'origine2:  [2 1 0]
Matrice de covariance des dits tableaux: [[ 1. -1.]
 [-1.  1.]]

In [5]:
import math
C = 50
H = 30
value = input("entrer la valeur de D: ")
D = value.split(",")
resultat =[]
for i in D :
    Q = round(math.sqrt(2*C*int(i)/H))
    resultat.append(Q)
print(resultat)

entrer la valeur de D: 100,150,180
[18, 22, 24]